.nav-bar {
  display: flex;
}
.main-episode {
  display: flex;
  flex-flow: wrap;
}
.card-episode {
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: auto auto auto;
  overflow: scroll;
  margin: 15px;
}
.card-episode img {
  width: 400px;
  min-height: 224px;
}
